name: Docker Image CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  build:
    strategy:
      matrix:
        version: [ "8.0", "9.0", "10.0" ]
        sq_version: [ "11.0.0" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Publish Alpine
        uses: docker/build-push-action@v6
        with:
          push: true
          build-args: |
            DOTNET_VERSION=${{ matrix.version }}-alpine3.23
            SONAR_SCANNER_VERSION=${{ matrix.sq_version }}
          tags: |
            zzdats/dotnet-sonarscanner:${{ matrix.version }}
            zzdats/dotnet-sonarscanner:${{ matrix.version }}-${{ matrix.sq_version }}
      - name: Build and Publish Ubuntu
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile.ubuntu
          build-args: |
            DOTNET_VERSION=${{ matrix.version }}-noble
            SONAR_SCANNER_VERSION=${{ matrix.sq_version }}
          tags: |
            zzdats/dotnet-sonarscanner:${{ matrix.version }}-ubuntu
            zzdats/dotnet-sonarscanner:${{ matrix.version }}-${{ matrix.sq_version }}-ubuntu
      - name: Latest Alpine
        if: matrix.version == '10.0' && matrix.sq_version == '11.0.0'
        uses: docker/build-push-action@v6
        with:
          push: true
          build-args: |
            DOTNET_VERSION=${{ matrix.version }}-alpine3.20
            SONAR_SCANNER_VERSION=${{ matrix.sq_version }}
          tags: |
            zzdats/dotnet-sonarscanner:latest
      - name: Latest Ubuntu
        if: matrix.version == '10.0' && matrix.sq_version == '11.0.0'
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile.ubuntu
          build-args: |
            DOTNET_VERSION=${{ matrix.version }}-noble
            SONAR_SCANNER_VERSION=${{ matrix.sq_version }}
          tags: |
            zzdats/dotnet-sonarscanner:latest-ubuntu
